<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.article.dao.ArticleEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.article.entity.ArticleEO" >
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="u_id" jdbcType="VARCHAR" property="uId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="browse_num" jdbcType="INTEGER" property="browseNum" />
    <result column="collection_num" jdbcType="INTEGER" property="collectionNum" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="like_num" jdbcType="INTEGER" property="likeNum" />
    <result column="dislike_num" jdbcType="INTEGER" property="dislikeNum" />
    <result column="label_id" jdbcType="VARCHAR" property="labelId" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>

    <resultMap id="hisVoMap" type="com.adc.da.article.entity.vo.HistoryVo" >
        <id column="id"                 jdbcType="VARCHAR" property="id" />
        <result column="u_id"           jdbcType="VARCHAR" property="uId" />
        <result column="a_id"           jdbcType="VARCHAR" property="aId" />
        <result column="browse_time"    jdbcType="TIMESTAMP" property="browseTime" />
        <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
        <result column="title"          jdbcType="VARCHAR" property="title" />
        <result column="content"        jdbcType="VARCHAR" property="content" />
        <result column="browse_num"     jdbcType="INTEGER" property="browseNum" />
        <result column="collection_num" jdbcType="INTEGER" property="collectionNum" />
        <result column="comment_num"    jdbcType="INTEGER" property="commentNum" />
        <result column="type"           jdbcType="INTEGER" property="type" />
        <result column="author_photo" jdbcType="VARCHAR" property="authorPhoto" />
        <result column="article_img" jdbcType="VARCHAR" property="articleImg" />
        <result column="author_name" jdbcType="VARCHAR" property="authorName" />
    </resultMap>


    <sql id="Base_Column_List" >
        id, u_id, create_time, release_time, update_time, status, title, content, browse_num, collection_num, comment_num, like_num, dislike_num, label_id, type
    </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="uId != null" >
        and u_id ${uIdOperator} #{uId}
      </if>
      <if test="createTime != null" >
        and create_time ${createTimeOperator} #{createTime}
      </if>
      <if test="createTime1 != null" >
        and create_time &gt;= #{createTime1}
      </if>
      <if test="createTime2 != null" >
        and create_time &lt;= #{createTime2}
      </if>
      <if test="releaseTime != null" >
        and release_time ${releaseTimeOperator} #{releaseTime}
      </if>
      <if test="releaseTime1 != null" >
        and release_time &gt;= #{releaseTime1}
      </if>
      <if test="releaseTime2 != null" >
        and release_time &lt;= #{releaseTime2}
      </if>
      <if test="updateTime != null" >
        and update_time ${updateTimeOperator} #{updateTime}
      </if>
      <if test="updateTime1 != null" >
        and update_time &gt;= #{updateTime1}
      </if>
      <if test="updateTime2 != null" >
        and update_time &lt;= #{updateTime2}
      </if>
      <if test="status != null" >
        and status ${statusOperator} #{status}
      </if>
      <if test="title != null" >
        and title ${titleOperator} #{title}
      </if>
      <if test="content != null" >
        and content ${contentOperator} #{content}
      </if>
      <if test="browseNum != null" >
        and browse_num ${browseNumOperator} #{browseNum}
      </if>
      <if test="collectionNum != null" >
        and collection_num ${collectionNumOperator} #{collectionNum}
      </if>
      <if test="commentNum != null" >
        and comment_num ${commentNumOperator} #{commentNum}
      </if>
      <if test="likeNum != null" >
        and like_num ${likeNumOperator} #{likeNum}
      </if>
      <if test="dislikeNum != null" >
        and dislike_num ${dislikeNumOperator} #{dislikeNum}
      </if>
      <if test="labelId != null" >
        and label_id ${labelIdOperator} #{labelId}
      </if>
      <if test="type != null" >
        and type ${typeOperator} #{type}
      </if>
    </trim>
  </sql>

    <!--加载历史记录-->
    <select id="queryHisList" resultMap="hisVoMap" parameterType="com.adc.da.article.entity.vo.HistoryVo">
        SELECT
        h.ID, h.U_ID, h.A_ID, h.BROWSE_TIME, a.TITLE, a.CONTENT, a.BROWSE_NUM, a.COLLECTION_NUM, a.COMMENT_NUM, a.TYPE,
        h.AUTHOR_PHOTO, h.ARTICLE_IMG, h.AUTHOR_NAME FROM history h LEFT JOIN article a ON h.A_ID = a.ID
        where BROWSE_TIME &gt;= #{browseTime}
        and h.u_id = #{uId}
        and a.status = 0
        and a.RELEASE_TIME &lt;= #{releaseTime}
        <if test="title != null">
            and title like concat('%',#{title},'%')
        </if>
        <if test="type != null">
            and a.type = #{type}
        </if>
        <if test="authorName != null">
            and h.author_name like "%"#{authorName}"%"
        </if>
        <if test="browseTimeStart != null">
            and h.BROWSE_TIME &lt;= #{browseTimeStart}
        </if>
        <if test="browseTimeEnd != null">
            and h.BROWSE_TIME &gt;= #{browseTimeEnd}
        </if>
        order by h.BROWSE_TIME desc
    </select>

    <!--文章条件查询-->
    <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select <include refid="Base_Column_List" /> from article
        where 1=1
        <if test="uId != null" >
            and u_id ${uIdOperator} #{uId}
        </if>
        <if test="releaseTime != null" >
            and release_time &lt;= #{releaseTime1}
        </if>
        <if test="releaseTime1 != null" >
            and release_time &gt;= #{releaseTime1}
        </if>
        <if test="releaseTime2 != null" >
            and release_time &lt;= #{releaseTime2}
        </if>
        <if test="updateTime != null" >
            and update_time ${updateTimeOperator} #{updateTime}
        </if>
        <if test="updateTime1 != null" >
            and update_time &gt;= #{updateTime1}
        </if>
        <if test="updateTime2 != null" >
            and update_time &lt;= #{updateTime2}
        </if>
        <if test="status != null" >
            and status ${statusOperator} #{status}
        </if>
        <if test="id == 1">
            and status != 3 and status != 4
        </if>
        <if test="title != null" >
            and title like concat('%',#{title},'%')
        </if>
        <if test="labelId != null" >
            and label_id ${labelIdOperator} #{labelId}
        </if>
        <if test="type != null" >
            and type ${typeOperator} #{type}
        </if>
        order by release_time desc, update_time desc, create_time desc
        limit ${pager.pageOffset},${pager.pageSize}
    </select>

    <select id="getFriItems" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select <include refid="Base_Column_List" /> from article
        where 1=1
        <if test="uId != null" >
            and u_id = ANY(select u_id_2 from relation where u_id_1 = #{uId} and type = 0 and status = 1)
            or u_id = ANY(select u_id_1 from relation where u_id_2 = #{uId} and type = 0 and status = 1)
        </if>
        <if test="releaseTime != null" >
            and release_time = #{releaseTime}
        </if>
        <if test="releaseTime1 != null" >
            and release_time &gt;= #{releaseTime1}
        </if>
        <if test="releaseTime2 != null" >
            and release_time &lt;= #{releaseTime2}
        </if>
        <if test="title != null" >
            and title like concat('%',#{title},'%')
        </if>
        <if test="type != null" >
            and type = #{type}
        </if>
        order by release_time desc, update_time desc, create_time desc
        limit ${pager.pageOffset},${pager.pageSize}
    </select>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.article.entity.ArticleEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_article.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into article(<include refid="Base_Column_List" />)
    values (#{id}, #{uId}, #{createTime}, #{releaseTime}, #{updateTime}, #{status}, #{title}, #{content}, #{browseNum}, #{collectionNum}, #{commentNum}, #{likeNum}, #{dislikeNum}, #{labelId}, #{type})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.article.entity.ArticleEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_article.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="uId != null" >u_id,</if>
                <if test="createTime != null" >create_time,</if>
                <if test="releaseTime != null" >release_time,</if>
                <if test="updateTime != null" >update_time,</if>
                <if test="status != null" >status,</if>
                <if test="title != null" >title,</if>
                <if test="content != null" >content,</if>
                <if test="browseNum != null" >browse_num,</if>
                <if test="collectionNum != null" >collection_num,</if>
                <if test="commentNum != null" >comment_num,</if>
                <if test="likeNum != null" >like_num,</if>
                <if test="dislikeNum != null" >dislike_num,</if>
                <if test="labelId != null" >label_id,</if>
                <if test="type != null" >type,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id},</if>
                <if test="uId != null" >#{uId},</if>
                <if test="createTime != null" >#{createTime},</if>
                <if test="releaseTime != null" >#{releaseTime},</if>
                <if test="updateTime != null" >#{updateTime},</if>
                <if test="status != null" >#{status},</if>
                <if test="title != null" >#{title},</if>
                <if test="content != null" >#{content},</if>
                <if test="browseNum != null" >#{browseNum},</if>
                <if test="collectionNum != null" >#{collectionNum},</if>
                <if test="commentNum != null" >#{commentNum},</if>
                <if test="likeNum != null" >#{likeNum},</if>
                <if test="dislikeNum != null" >#{dislikeNum},</if>
                <if test="labelId != null" >#{labelId},</if>
                <if test="type != null" >#{type},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.article.entity.ArticleEO" >
    update article
       set  u_id = #{uId},
            create_time = #{createTime},
            release_time = #{releaseTime},
            update_time = #{updateTime},
            status = #{status},
            title = #{title},
            content = #{content},
            browse_num = #{browseNum},
            collection_num = #{collectionNum},
            comment_num = #{commentNum},
            like_num = #{likeNum},
            dislike_num = #{dislikeNum},
            label_id = #{labelId},
            type = #{type}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.article.entity.ArticleEO" >
    update article
    <set >
      <if test="uId != null" >
        u_id = #{uId},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="releaseTime != null" >
        release_time = #{releaseTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="title != null" >
        title = #{title},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
      <if test="browseNum != null" >
        browse_num = #{browseNum},
      </if>
      <if test="collectionNum != null" >
        collection_num = #{collectionNum},
      </if>
      <if test="commentNum != null" >
        comment_num = #{commentNum},
      </if>
      <if test="likeNum != null" >
        like_num = #{likeNum},
      </if>
      <if test="dislikeNum != null" >
        dislike_num = #{dislikeNum},
      </if>
      <if test="labelId != null" >
        label_id = #{labelId},
      </if>
      <if test="type != null" >
        type = #{type},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 article -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from article
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from article
     where id = #{value}

  </delete>

  <!-- article 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from article
    <include refid="Base_Where_Clause"/>
  </select>


  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from article
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
		${pager.orderCondition}
    </if>
  </select>

</mapper>
