<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.article.dao.LabelEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.article.entity.LabelEO" >
    <id column="id" property="id" />
    <result column="u_id" property="uId" />
    <result column="num" property="num" />
    <result column="label_name" property="labelName" />
  </resultMap>

  <!-- label table all fields -->
  <sql id="Base_Column_List" >
     id, u_id, num, label_name
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="uId != null" >
        and u_id ${uIdOperator} #{uId}
      </if>
      <if test="num != null" >
        and num ${numOperator} #{num}
      </if>
      <if test="labelName != null" >
        and label_name ${labelNameOperator} #{labelName}
      </if>
    </trim>
  </sql>

    <update id="setLabelNum">
        update label
        set num = (select count(*) from article where u_id = #{uid,jdbcType=VARCHAR} and label_id = #{id,jdbcType=VARCHAR} and status != 4)
        where id = #{id}
    </update>

    <!-- 根据id查询 label -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List" />
        from label
        where id = #{value}
    </select>
    
    <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select <include refid="Base_Column_List"/> from label
        where u_id = #{uId}
    </select>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.article.entity.LabelEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_label.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into label(<include refid="Base_Column_List" />)
    values (#{id}, #{uId}, #{num}, #{labelName})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.article.entity.LabelEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_label.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into label
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="uId != null" >u_id,</if>
                <if test="num != null" >num,</if>
                <if test="labelName != null" >label_name,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id},</if>
                <if test="uId != null" >#{uId},</if>
                <if test="num != null" >#{num},</if>
                <if test="labelName != null" >#{labelName},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.article.entity.LabelEO" >
    update label
       set  u_id = #{uId},
            num = #{num},
            label_name = #{labelName}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.article.entity.LabelEO" >
    update label
    <set >
      <if test="uId != null" >
        u_id = #{uId},
      </if>
      <if test="num != null" >
        num = #{num},
      </if>
      <if test="labelName != null" >
        label_name = #{labelName},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from label
     where id = #{value}

  </delete>

  <!-- label 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from label
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询label列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
		select <include refid="Base_Column_List" /> from label
			<include refid="Base_Where_Clause"/>
			<if test="pager.orderCondition != null and pager.orderCondition != ''" >
				${pager.orderCondition}
			</if>
			limit ${pager.pageOffset},${pager.pageSize}
  </select>

    <select id="isLabelNameRepeat" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM label WHERE label_name = #{labelName,jdbcType=VARCHAR}
    </select>


</mapper>
