<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.student.dao.StudentEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.student.entity.StudentEO" >
    <result column="id" property="id" />
    <result column="name" property="name" />
  </resultMap>

  <!-- TS_STUDENT table all fields -->
  <sql id="Base_Column_List" >
     id, name
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="name != null" >
        and name ${nameOperator} #{name}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.student.entity.StudentEO" >
    insert into TS_STUDENT(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.student.entity.StudentEO" >
        insert into TS_STUDENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="name != null" >name,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="name != null" >#{name, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- TS_STUDENT 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from TS_STUDENT
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询TS_STUDENT列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from TS_STUDENT
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from TS_STUDENT
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

  <!--通过TS_STUDENT表跟SCORES表查询学生的学号，姓名及成绩-->
  <select id="stuScore" resultMap="BaseResultMap" parameterType="com.adc.da.student.vo.StudentVO">
    select t.id,t.NAME,s.SCORE from TS_STUDENT t join SCORES s on(t.id=s.sid)
  </select>

  <!--查询1班成绩大于80的学生-->
  <select id="osStudent" resultMap="BaseResultMap" parameterType="com.adc.da.student.vo.StudentVO">
    select s.XUEHAO,s.NAME,SCORES.SCORE from(select * from TS_STUDENT where classes=1 ) s join SCORES on(s.id=SCORES.SID) where SCORES.Score>=80
  </select>
  <!--统计每个班成绩大于60的人数-->
  <select id="selectCount" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
  select count(d.classes) from(select t.classes from TS_STUDENT t join SCORES s on(t.id=s.sid) where s.Score>79) d group by classes
  </select>
</mapper>
