<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.score.dao.ScoresEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.score.entity.ScoresEO" >
    <result column="sid" property="sid" />
    <result column="sname" property="sname" />
    <result column="score" property="score" />
  </resultMap>

  <!-- SCORES table all fields -->
  <sql id="Base_Column_List" >
     sid, sname, score
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="sid != null" >
        and sid ${sidOperator} #{sid}
      </if>
      <if test="sname != null" >
        and sname ${snameOperator} #{sname}
      </if>
      <if test="score != null" >
        and score ${scoreOperator} #{score}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.score.entity.ScoresEO" >
    insert into SCORES(<include refid="Base_Column_List" />)
    values (#{sid, jdbcType=VARCHAR}, #{sname, jdbcType=VARCHAR}, #{score, jdbcType=INTEGER})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.score.entity.ScoresEO" >
        insert into SCORES
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="sid != null" >sid,</if>
                <if test="sname != null" >sname,</if>
                <if test="score != null" >score,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="sid != null" >#{sid, jdbcType=VARCHAR},</if>
                <if test="sname != null" >#{sname, jdbcType=VARCHAR},</if>
                <if test="score != null" >#{score, jdbcType=INTEGER},</if>
            </trim>
  </insert>

  <!-- SCORES 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from SCORES
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询SCORES列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from SCORES
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from SCORES
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

</mapper>
