<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.test.dao.DemoEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.test.entity.DemoEO" >
    <id column="id" property="id" />
    <result column="uername" property="uername" />
    <result column="password" property="password" />
  </resultMap>

    <resultMap id="VoMap" type="com.adc.da.test.entity.DemoVo" >
        <id column="a_id" property="id" />
        <result column="uername" property="uername" />
        <result column="password" property="password" />
        <result column="parts" property="parts" />
        <result column="partsName" property="partsName" />
        <result column="creat_time" property="creatTime" />
    </resultMap>

  <!-- demo table all fields -->
  <sql id="Base_Column_List" >
     id, uername, password
  </sql>

    <sql id="vo_Column_List" >
        a.a_id, uername, password,parts,partsName,creat_time
    </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="id != null" >
        and id ${idOperator} #{id}
      </if>
      <if test="uername != null" >
        and uername ${uernameOperator} #{uername}
      </if>
      <if test="password != null" >
        and password ${passwordOperator} #{password}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.test.entity.DemoEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_demo.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into demo(<include refid="Base_Column_List" />)
    values (#{id, jdbcType=VARCHAR}, #{uername, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.test.entity.DemoEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
        SELECT SEQ_demo.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into demo
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="id != null" >id,</if>
                <if test="uername != null" >uername,</if>
                <if test="password != null" >password,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
                <if test="uername != null" >#{uername, jdbcType=VARCHAR},</if>
                <if test="password != null" >#{password, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.test.entity.DemoEO" >
    update demo
       set  uername = #{uername},
            password = #{password}
     where  id = #{id}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.test.entity.DemoEO" >
    update demo
    <set >
      <if test="uername != null" >
        uername = #{uername},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
    </set>
     where id = #{id}
  </update>

  <!-- 根据id查询 demo -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from demo
     where id = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from demo
     where id = #{value}

  </delete>

  <!-- demo 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
    select count(1) from demo
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询demo列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
		select <include refid="Base_Column_List" /> from demo
			<include refid="Base_Where_Clause"/>
			<if test="pager.orderCondition != null and pager.orderCondition != ''" >
				${pager.orderCondition}
			</if>
            ORDER BY idoffset ${pager.pageOffset} rows fetch next ${pager.pageSize} rows only
  </select>

    <!-- 模糊查询分页 -->
    <select id="fuzzyQuery" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select <include refid="Base_Column_List" /> from demo
        WHERE 1=1
        <if test="uername != null" >
            and uername LIKE '%'+#{uername}+'%'
        </if>
        <if test="password != null" >
            and password LIKE '%'+#{password}+'%'
        </if>
        ORDER BY id offset ${(page-1)*pageSize} rows fetch  next ${pageSize} rows only
    </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
    select <include refid="Base_Column_List"/> from demo
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
		${pager.orderCondition}
    </if>
  </select>

    <select id="queryAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from demo
    </select>

    <select id="fuzzyVoQuery" resultMap="VoMap" parameterType="com.adc.da.base.page.BasePage">
        SELECT <include refid="vo_Column_List" />
        FROM a LEFT JOIN demo on demo.id = a.a_user_id
        LEFT JOIN parts on a.a_par_id = parts.id
        WHERE 1=1
        <if test="uername != null" >
            and uername LIKE '%'+#{uername}+'%'
        </if>
        <if test="parts != null" >
            and parts LIKE '%'+#{parts}+'%'
        </if>
        <if test="partsName != null" >
            and partsName LIKE '%'+#{partsName}+'%'
        </if>
        ORDER BY creat_time offset ${(page-1)*pageSize} rows fetch next ${pageSize} rows only
    </select>

    <delete id="deleteAByaid" parameterType="java.lang.String" >
        DELETE a WHERE a_id = #{id}
    </delete>

    <select id="queryidByAid" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT a_user_id  FROM a WHERE a_id = #{aid}
    </select>

    <insert id="insertAById">
        INSERT INTO a
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aid != null and aid !=''">a_id,</if>
            <if test="uid != null and uid !=''">a_user_id,</if>
            <if test="pid != null and pid !=''">a_par_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aid != null and aid !=''">#{aid,jdbcType=VARCHAR},</if>
            <if test="uid != null and uid !=''">#{uid,jdbcType=VARCHAR},</if>
            <if test="pid != null and pid !=''">#{pid,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
</mapper>
